:root {
  font-family: Lato;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --black: #000000;
  --white: #ffffff;
  --green: #41c4c3;
  --success: #00cc45;
  --red: #ee3438;
  --grey: #4d4d4d;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  height: 100%;
}
.small {
  font-size: 10px;
}
.green-text {
  color: var(--green);
}
.summary-box p {
  margin: 0;
}
.summary-box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.col-3.price {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.container {
  padding: 30px;
}
.basket-summary ul {
  list-style-type: none;
  padding: 0;
}
.basket-summary,
.payment-summary {
  padding: 1rem 6rem;
}
.price-breakdown p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.description {
  display: flex;
  flex-direction: row;
}
.basket-summary li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
span.coupon-code {
  font-size: 13px;
  border: 1px solid var(--grey);
  border-radius: 20px;
  padding: 6px 8px;
  background: var(--grey);
  color: var(--white);
}

.email-input,
.card-input,
.name-on-card {
  display: flex;
  flex-direction: column;
}
.form-container input {
  padding: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.payment-button {
  width: 100%;
  background-color: var(--green);
  color: var(--black);
  border: none;
  padding: 11px;
  cursor: pointer;
}
.success-container {
  text-align: center;
  margin-top: 2rem;
}
.company-logo {
  margin-bottom: 30px;
}
.check-mark-logo {
  margin-bottom: 20px;
}
.success-details {
  border: 1px solid var(--white);
  text-align: center;
  margin: auto;
  padding: 30px 10px;
}
.check-mark {
  font-size: 40px;
  border: 1px solid var(--success);
  padding: 10px 20px;
  background: var(--success);
  border-radius: 50%;
  color: var(--black);
}
p.order-number {
  background: var(--grey);
  padding: 10px 0;
}
.coupon-input {
  margin-top: 5rem;
}
.coupon-input input {
  width: 100%;
  padding: 10px;
}
.apply-button {
  width: 100%;
  background-color: var(--success);
  color: black;
  border: none;
  padding: 11px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .basket-summary {
    padding: 1rem;
  }
  .payment-summary {
    padding: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .success-details {
    width: 500px;
  }
  .success-container-box {
    margin: auto;
  }
  .code-input {
    display: flex;
  }
}
